* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}
.logo {
    color: #80bc5a;
    font-size: 3.5rem;
    padding: 0 80px;
    font-weight: bold;
}

.navbar-inverse {
    background-color: #004895;
    border: solid #004895
}

.form-container {
    width: 40vw;
    height: 40vh;
    border: solid black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-shadow: 5px 5px;
    
}

.alert, .alert-success, .alert-dismissible {
    margin-left: 5%;
    width: 60%;
}
